body {
    margin: 0px;
}

#btn-container {
    display: flex;
    justify-content: center;
    height: 4%;
}

#btn {
    margin: 4px;
}

div#outermost-container {
    height: 96%;
    width: 100%;
}

div#outer-container {
    display: flex;
    flex-flow: column;
    height: 90%;
    justify-content: center;
}

.container {
    display: flex;
    flex: auto;
}

.gridDiv {
    flex: auto;
}

/* 
*   In main branch, center btn to make the page look better.
*/