body {
    margin: 0px;
}

#btn-container {
    display: flex;
    justify-content: center;
    height: 4%;
}

#btn {
    margin: 4px;
}

div#outer-container {
    display: flex;
    height: 100%;
    justify-content: center;
}

.gridDiv {

}

/* 
*   In main branch, center btn to make the page look better.
*/